.settings-bg,
.login-bg,
.register-bg,
.reset-password-bg,
.error-bg,
.privacy-bg {
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: row;
  width: 100%;

  @media screen and (max-width: 768px) {
    background-size: cover;
  }

  .card,
  .box {
    backdrop-filter: blur(5px);
  }
}

.settings-bg,
.privacy-bg {
  background-position-x: 50%;
}

.login-bg {
  background-position-x: 83%;
  background-size: 45%;
  background-position-y: 25%;
}

.register-bg {
  background-size: 65%;
  background-position-x: 45%;
  background-position-y: 50%;
}

.reset-password-bg {
  background-position-x: 80%;
}

.error-bg {
  background-position-x: 40%;
}

body {
  background-size: cover;
}

$svgs: settings login register reset-password error privacy;

html {
  @each $theme in $themes {
    &.theme--#{$theme} {
      @if $theme == dark {
        font-family: $body-family;
      }

      @each $svg in $svgs {
        .#{$svg}-bg {
          background-image: url('../../svg/#{$theme}/#{$svg}.svg');
        }
      }
    }
  }
}
