.has-background-svg {
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: row;
  height: 100%;
  width: 100%;

  padding: 1rem 0;

  @include mobile {
    background-size: cover;
    margin-bottom: 1rem;
  }

  .card,
  .box {
    backdrop-filter: blur(5px);
  }
}

html {
  @each $theme in $themes {
    &.theme--#{$theme} {
      @if $theme == dark {
        font-family: $body-family;
      }
    }
  }
}
