@mixin mobile-bg-adjustment {
  @include mobile {
    background-image: none !important;
    margin-top: initial;
    margin-bottom: initial;
  }
}

.settings-bg,
.login-bg,
.register-bg,
.reset-password-bg,
.error-bg,
.privacy-bg,
.tos-bg {
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: row;
  width: 100%;

  margin-top: 1rem;
  margin-bottom: 1rem;

  @include mobile {
    background-size: cover;
  }

  .card,
  .box {
    backdrop-filter: blur(5px);
  }
}

.settings-bg,
.tos-bg {
  background-position-x: 50%;
}

.login-bg {
  background-position-x: 83%;
  background-size: 45%;
  background-position-y: 25%;

  @include mobile-bg-adjustment();
}

.register-bg {
  background-size: 65%;
  background-position-x: 45%;
  background-position-y: 50%;

  @include mobile-bg-adjustment();
}

.reset-password-bg {
  background-position-x: 80%;
}

.error-bg {
  background-position-x: 40%;
}

.privacy-bg {
  background-position-x: 115%;

  @include tablet {
    background-position-x: 50%;
    background-position-y: 50%;
  }

  @include mobile-bg-adjustment();
}

body {
  background-size: cover;
}

$svgs: settings login register reset-password error privacy tos;

html {
  @each $theme in $themes {
    &.theme--#{$theme} {
      @if $theme == dark {
        font-family: $body-family;
      }

      @each $svg in $svgs {
        .#{$svg}-bg {
          background-image: url('../svg/#{$theme}/#{$svg}.svg');
        }
      }
    }
  }
}
