$desktop: 1920px;
$tablet: 1280px;
$mobile: 768px;

@mixin widescreen {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mobile}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}
