@import 'breakpoints';
@import 'toasts';

html,
body {
  // accessibility override of bulmas default 16px
  font-size: 100%;
}

.is-fullpage {
  display: flex;
  flex: 100%;

  &:not(.columns) {
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
  }
}

.has-content-centered:not(.is-flex-row) {
  justify-content: center;
}

.login-logo img,
.login-logo svg {
  max-height: 2.75rem;
}

.has-padding-large {
  padding: 2.5rem !important;
}

.has-content-spaced-between {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.has-content-spaced-evenly {
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
}

.is-clickable {
  pointer-events: all !important;
  cursor: pointer;
}

.is-checkradio[type='radio'].is-circle + label,
.is-checkradio[type='checkbox'].is-circle + label {
  position: static;
}

.footer li {
  margin: 0.25rem 0;

  &.has-text-weight-semibold {
    margin-bottom: 1rem;
  }
}

.card {
  border-radius: 5px !important;
}

a span.icon {
  vertical-align: bottom;
}

.message-body p:last-of-type {
  margin-bottom: initial !important;
}

// fixes y-overflow on mobile
header.columns .column {
  padding: 0;
}

.title {
  border-radius: 5px;
  padding: 1rem;
}

legend,
.box {
  .title {
    background-color: initial;
    border-radius: initial;
    padding: initial;
  }
}

.switch {
  input[type='checkbox'] {
    + .check {
      &:before {
        background: #f5f5f5;
      }
    }

    &:checked + .check {
      background: $primary;

      @each $name, $color in $colors {
        &.is-#{$name} {
          background: $color;
        }
      }
    }

    &:focus {
      outline: none;
      + .check {
        box-shadow: 0 0 0.5em rgba($grey, 0.6);
      }

      &:checked + .check {
        box-shadow: 0 0 0.5em rgba($primary, 0.8);

        @each $name, $color in $colors {
          $color: nth($color, 1);

          &.is-#{$name} {
            box-shadow: 0 0 0.5em rgba($color, 0.8);
          }
        }
      }
    }
  }
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} .Toastify__progress-bar--default {
      background: darken($color, 25%);
    }
  }
}

svg,
rect,
path {
  &[fill] {
    transition: fill 350ms ease-in-out;
  }
}

.button {
  border-radius: 5px;
}

.navbar-dropdown {
  padding: 0;
}

$input-placeholder-and-icon-color: rgba(54, 54, 54, 0.5);

.input {
  border-radius: 4px;

  &::placeholder {
    color: $input-placeholder-and-icon-color;
  }
}
