$dark-bg-color: #1d2a38;

$dark-primary: #df691a;
$dark-warning: #f0ad4e;
$dark-success: #5cb85c;
$dark-info: #5bc0de;
$dark-danger: #d9534f;

$dark-colors: primary $dark-primary, warning $dark-warning,
  success $dark-success, info $dark-info, danger $dark-danger;