@import './breakpoints';

$themes: light dark;

@mixin themedSvg($name, $className) {
  #{$className} {
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center;
    flex-direction: row;
    height: 100%;

    [class*='box'],
    [class*='card'] {
      backdrop-filter: blur(5px);
    }
  }

  @each $theme in $themes {
    &[data-theme='#{$theme}'] {
      #{$className} {
        background-image: url('../svg/#{$theme}/#{$name}.svg');
      }
    }
  }
}

@mixin mobile-bg-adjustment {
  @include mobile {
    background-image: none !important;
    margin-top: initial;
    margin-bottom: initial;
  }
}
