@import 'node_modules/bulma/bulma.sass';
@import 'node_modules/bulma-tooltip/src/sass/index';
@import 'node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass';
@import 'node_modules/bulma-divider/src/sass/index';

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

$dark-primary-color: #df691a;
$dark-bg-color: #1d2a38;

@import './animations';
@import './extensions';
@import './theme';
@import './backgrounds';

.is-fullpage {
  display: flex;
  flex: 100%;

  &:not(.columns) {
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
  }
}

.has-content-centered:not(.is-flex-row) {
  justify-content: center;
}

.login-logo img,
.login-logo svg {
  max-height: 2.75rem;
}

.has-padding-large {
  padding: 2.5rem !important;
}

.has-content-spaced-between {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.has-content-spaced-evenly {
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
}

.is-clickable {
  pointer-events: all !important;
  cursor: pointer;
}

.is-checkradio[type='radio'].is-circle + label,
.is-checkradio[type='checkbox'].is-circle + label {
  position: static;
}

.navbar-end .buttons {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.footer li.has-text-weight-semibold {
  margin-bottom: 1rem;
}

@import '../../routes/public/LandingPage/LandingPage.module.scss';

.card {
  border-radius: 5px !important;
}

a span.icon {
  vertical-align: bottom;
}

.button {
  transition: transform 0.2s ease-in-out;

  &:hover:not([disabled]) {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    filter: brightness(105%);
  }
}

.message-body p:last-of-type {
  margin-bottom: initial !important;
}

// fixes y-overflow on mobile
header.columns {
  margin-bottom: 0 !important;

  @media screen and (max-width: 1280px) {
    margin-right: 0;
    margin-left: 0;
  }

  .column {
    padding-bottom: 0;

    @media screen and (max-width: 1280px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

main {
  display: flex;
  flex: 1 1 0%;
  min-height: calc(100vh - 282px - 64px);
}
