@import 'node_modules/bulma/bulma.sass';

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

@import './animations';
@import './extensions';

.is-fullpage {
  display: flex;
  flex: 100%;

  &:not(.columns) {
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
  }
}

.has-content-centered:not(.is-flex-row) {
  justify-content: center;
}

.login-logo img,
.login-logo svg {
  max-height: 2.75rem;
}

.has-padding-large {
  padding: 2.5rem !important;
}

.has-content-spaced-between {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.has-content-spaced-evenly {
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
}

.is-clickable {
  pointer-events: all !important;
  cursor: pointer;
}
