$dark-base-color: #1d2a38;

html.theme--dark {
  .card {
    background-color: rgba($dark-base-color, 0.95);
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: rgba($dark-base-color, 0.95);
  }
}

* {
  transition: background-color 350ms ease-in-out;
}
