@import 'sharedVars';

@import 'node_modules/bulmaswatch/superhero/variables';
@import 'bulma/index';
@import 'node_modules/bulmaswatch/superhero/overrides';

@import 'common';

.card,
.box {
  background-color: rgba($card-background-color, 0.95);
}

.button {
  &:hover:not([disabled]) {
    box-shadow: 0 7px 14px rgba(205, 205, 162, 0.1),
      0 3px 6px rgba(255, 255, 255, 0.08);
  }
}

[data-theme] {
  .control {
    &.has-icons-left,
    &.has-icons-right {
      .icon {
        color: lighten(#4e5d6c, 30%);
      }
    }
  }
}
