$transitioning-colors: $dark-primary $primary;

@each $color in $transitioning-colors {
  svg {
    rect[fill='#{$color}'],
    path[fill='#{$color}'] {
      transition: fill 350ms ease-in-out;
    }
  }
}

html {
  &.theme--light {
    .box,
    .card {
      background-color: rgba($white, 0.95);
    }
  }

  &.theme--dark {
    .card,
    .box {
      background-color: rgba($dark-bg-color, 0.95);
    }

    .button {
      border-radius: 5px;

      &:hover:not([disabled]) {
        box-shadow: 0 7px 14px rgba(205, 205, 162, 0.1),
          0 3px 6px rgba(255, 255, 255, 0.08);
      }
    }

    .input {
      border-radius: 4px;
    }

    svg {
      rect,
      path {
        &[fill='#00d1b2'] {
          fill: $dark-primary;
        }
      }

      .switch input[type='checkbox']:checked + .check {
        background: $dark-primary;
      }
    }
  }
}
