@import 'sharedVars';

@import 'bulma/index';
@import 'common';

.card,
.box {
  background-color: rgba($white, 0.95);
}

.navbar {
  background-color: whitesmoke;
}

[data-theme] {
  .control {
    &.has-icons-left,
    &.has-icons-right {
      .icon {
        color: $input-placeholder-and-icon-color;
      }
    }
  }
}
