{
  "extends": "react-app",
  "rules": {
    "import/order": [
      "warn",
      {
        "groups": [
          ["builtin", "external", "internal"],
          ["unknown", "parent", "sibling"],
          "index"
        ],
        "alphabetize": {
          "order": "asc"
        },
        "newlines-between": "always"
      }
    ]
  }
}
