.container {
  background-image: url('../../../assets/svg/forgotPassword.svg');
  background-repeat: no-repeat;
  flex-direction: row;
  width: 100%;
  background-size: 500px;
  background-position-x: 80%;
  background-position-y: 100%;
}
