@import '../../../assets/scss/mixins';
@include themedSvg('reset-password', '.container');

.container {
  background-position-x: 80%;
  background-size: cover;
  display: flex;

  @include mobile {
    background-position: bottom;
  }
}

.parent {
  align-items: center;
  width: 100%;
}
