@import '../../../assets/scss/mixins';
@include themedSvg('reset-password', '.container');

.container {
  background-position-x: 80%;
  background-size: contain;
  display: flex;
}

.parent {
  align-items: center;
  width: 100%;
}
