@import '../../../assets/scss/mixins';

@include themedSvg('register', '.container');

.container {
  background-size: 65%;
  background-position-x: 45%;
  background-position-y: 50%;

  @include mobile-bg-adjustment();
}
