@import '../../../assets/scss/mixins';

@include themedSvg('register', '.container');

.container {
  background-size: 65%;
  background-position-x: 45%;
  background-position-y: 50%;
  display: flex;

  @include mobile-bg-adjustment();
}

.parent {
  align-items: center;
  width: 100%;
  margin: 0;
}
