#hero {
  max-width: 1024px;
  margin: 0 auto;
  padding: 82px 16px 48px;
  align-items: center;
  flex-direction: row;

  width: 100%;
  max-width: 1400px;
}

@media (min-width: 640px) {
  padding: 140px 16px 100px;
  flex-direction: row;
}

#hero .hero-content.is-flex {
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 1400px) {
  #hero .hero-content {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  #hero .hero-content {
    min-width: 300px;
    flex-basis: 45%;
    text-align: left;
  }
}

#hero .hero-content.is-flex > h1 {
  line-height: normal;
  color: #1686f7;
}

@media (min-width: 1024px) {
  #hero h1 {
    font-size: 54px !important;
  }
}

#hero h1,
#hero h2 {
  letter-spacing: -0.8px;
}

#hero :after,
#hero :before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}

.t22-t16 {
  font-size: calc(0.85227vw + 13.27273px);
  line-height: calc(1.55398vw + 15.98727px);
}

#hero .hero-content.is-flex > p {
  margin-top: 18px;
  color: #354052;
}

@media (min-width: 1024px) {
  .t22-t16 {
    font-size: 22px !important;
    line-height: 1.45 !important;
  }
}

@media (min-width: 640px) {
  #hero .hero-content > p.t22-t16 {
    margin-top: 2rem;
  }
}

@media (min-width: 640px) {
  #hero .hero-image {
    flex-basis: 55%;
  }
}

@media only screen and (min-width: 1400px) {
  #hero .hero-image > img {
    min-height: 551px;
    max-width: 650px;
    margin-right: -200px;
  }
}
