#hero {
  max-width: 1024px;
  margin: 0 auto;
  padding: 82px 16px 48px;
  align-items: center;
  flex-direction: row;

  width: 100%;
  max-width: 1400px;
}

@media (min-width: 640px) {
  padding: 140px 16px 100px;
  flex-direction: row;
}

#hero .hero-content.is-flex {
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 1400px) {
  #hero .hero-content {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  #hero .hero-content {
    min-width: 300px;
    flex-basis: 45%;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  #hero h1 {
    font-size: 54px !important;
  }
}

#hero h1,
#hero h2 {
  letter-spacing: -0.8px;
}

#hero :after,
#hero :before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}

.t22-t16 {
  font-size: calc(0.85227vw + 13.27273px);
  line-height: calc(1.55398vw + 15.98727px);
}

#hero .hero-content.is-flex > p {
  margin-top: 18px;
}

@media (min-width: 1024px) {
  .t22-t16 {
    font-size: 22px !important;
    line-height: 1.45 !important;
  }
}

@media (min-width: 640px) {
  #hero .hero-content > p.t22-t16 {
    margin-top: 2rem;
  }
}

@media (min-width: 640px) {
  #hero .hero-image {
    flex-basis: 55%;
  }
}

@media only screen and (min-width: 1400px) {
  #hero .hero-image > img {
    min-height: 551px;
    max-width: 650px;
    margin-right: -200px;
  }
}

$animation-duration: 1.5s;

.landing-page-animation rect {
  height: 64px;
  width: 64px;

  &:not(:last-of-type) {
    transition: transform 200ms ease-in-out;

    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    &:nth-of-type(26) {
      animation-name: moveRight;
    }

    &:nth-of-type(21) {
      animation-name: moveDown;
      animation-delay: $animation-duration;
    }

    &:nth-of-type(16) {
      animation-name: moveDown;
      animation-delay: $animation-duration * 2;
    }

    &:nth-of-type(17) {
      animation-name: moveLeft;
      animation-delay: $animation-duration * 3;
    }

    &:nth-of-type(22) {
      animation-name: moveUp;
      animation-delay: $animation-duration * 4;
    }

    &:nth-of-type(23) {
      animation-name: moveLeft;
      animation-delay: $animation-duration * 5;
    }

    &:nth-of-type(24) {
      animation-name: moveLeft;
      animation-delay: $animation-duration * 6;
    }

    &:nth-of-type(25) {
      animation-name: moveLeft;
      animation-delay: $animation-duration * 7;
    }

    &:nth-of-type(29) {
      animation-name: moveUp;
      animation-delay: $animation-duration * 8;
    }

    &:nth-of-type(28) {
      animation-name: moveRight;
      animation-delay: $animation-duration * 9;
    }

    &:nth-of-type(27) {
      animation-name: moveRight;
      animation-delay: $animation-duration * 10;
    }
  }
}

$offset-x: 99px;
$offset-y: 132px;

@keyframes moveUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-$offset-y);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY($offset-y);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX($offset-x);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-$offset-x);
  }
}
