$animation-duration: 1.5s;

.landing-page-animation rect {
  height: 64px;
  width: 64px;

  &:not(:last-of-type) {
    animation-duration: $animation-duration * 20;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    &:nth-of-type(21) {
      animation-name: rect1;
      animation-delay: $animation-duration;
    }

    &:nth-of-type(16) {
      animation-name: rect2;
      animation-delay: $animation-duration * 2;
    }

    &:nth-of-type(17) {
      animation-name: rect3;
      animation-delay: $animation-duration * 3;
    }

    &:nth-of-type(22) {
      animation-name: rect4;
      animation-delay: $animation-duration * 4;
    }

    &:nth-of-type(23) {
      animation-name: rect5;
      animation-delay: $animation-duration * 5;
    }

    &:nth-of-type(24) {
      animation-name: rect6;
      animation-delay: $animation-duration * 6;
    }

    &:nth-of-type(25) {
      animation-name: rect7;
      animation-delay: $animation-duration * 7;
    }

    &:nth-of-type(29) {
      animation-name: rect8;
      animation-delay: $animation-duration * 8;
    }

    &:nth-of-type(28) {
      animation-name: rect9;
      animation-delay: $animation-duration * 9;
    }

    &:nth-of-type(27) {
      animation-name: rect10;
      animation-delay: $animation-duration * 10;
    }
  }
}

$offset-x: 99px;
$offset-y: 132px;

@keyframes rect10 {
  from {
    transform: translateX(0);
  }

  5% {
    transform: translateX($offset-x);
  }

  10% {
    transform: translateX(0);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rect9 {
  from {
    transform: translateX(0);
  }

  5% {
    transform: translateX($offset-x);
  }

  15% {
    transform: translateX($offset-x);
  }

  20% {
    transform: translateX(0);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rect8 {
  from {
    transform: translateY(0);
  }

  5% {
    transform: translateY(-$offset-y);
  }

  25% {
    transform: translateY(-$offset-y);
  }

  30% {
    transform: translateY(0);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes rect7 {
  from {
    transform: translateX(0);
  }

  5% {
    transform: translateX(-$offset-x);
  }

  35% {
    transform: translateX(-$offset-x);
  }

  40% {
    transform: translateX(0);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rect6 {
  from {
    transform: translateX(0);
  }

  5% {
    transform: translateX(-$offset-x);
  }

  45% {
    transform: translateX(-$offset-x);
  }

  50% {
    transform: translateX(0);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rect5 {
  from {
    transform: translateX(0);
  }

  5% {
    transform: translateX(-$offset-x);
  }

  55% {
    transform: translateX(-$offset-x);
  }

  60% {
    transform: translateX(0);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rect4 {
  from {
    transform: translateY(0);
  }

  5% {
    transform: translateY(-$offset-y);
  }

  65% {
    transform: translateY(-$offset-y);
  }

  70% {
    transform: translateY(0);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes rect3 {
  from {
    transform: translateX(0);
  }

  5% {
    transform: translateX(-$offset-x);
  }

  75% {
    transform: translateX(-$offset-x);
  }

  80% {
    transform: translateX(0);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rect2 {
  from {
    transform: translateY(0);
  }

  5% {
    transform: translateY($offset-y);
  }

  85% {
    transform: translateY($offset-y);
  }

  90% {
    transform: translateY(0);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes rect1 {
  from {
    transform: translateY(0);
  }

  5% {
    transform: translateY($offset-y);
  }

  95% {
    transform: translateY($offset-y);
  }

  to {
    transform: translateY(0);
  }
}
