@import '../../../assets/scss/mixins';
@include themedSvg('privacy', '.background');

.background {
  background-position-x: 115%;

  @include tablet {
    background-position-x: 50%;
    background-position-y: 50%;
  }

  @include mobile-bg-adjustment();
}

.container {
  &:first-of-type {
    margin-top: 2rem;
  }

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  background-position-x: 115%;

  @include tablet {
    background-position-x: 50%;
    background-position-y: 50%;
  }
}

.box {
  max-width: 55%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0 0 0 0px rgba(0, 0, 0, 0.12);

  transition: top 350ms ease-in-out;
  top: 0;
  position: relative;

  &:hover {
    top: -5px;
  }

  @include widescreen {
    max-width: 1024px !important;
  }

  @include tablet {
    max-width: 75%;
  }

  @include mobile {
    max-width: 100%;
  }
}

@include widescreen {
  // yeah about that...
  [class*='column'] {
    &[class*='is-1'] + [class*='column'] [class*='privacy-bg'] .right {
      margin-left: calc(100vw - 1024px - 8.33%);
    }

    &[class*='is-2'] + [class*='column'] [class*='privacy-bg'] .right {
      margin-left: calc(100vw - 1024px- 16.66%);
    }
  }
}

.right {
  margin-left: 45%;

  > .box {
    max-width: 100%;
  }

  @include tablet {
    margin-left: 25%;
  }

  @include mobile {
    margin-left: 0;
  }
}

.card {
  box-shadow: none;
  background-color: transparent !important;
  backdrop-filter: none !important;
  border: none !important;
}

.ul {
  margin-top: initial !important;
  margin-right: 2em;

  @include mobile {
    margin-left: 0 !important;
    margin-right: 0;
  }
}

.li {
  margin: 1rem;
}

.cardHeader {
  border-radius: 6px !important;
  box-shadow: none !important;
}

.img {
  @include mobile {
    margin: 0 auto !important;
  }
}

.icon {
  flex-grow: 1;

  @include mobile {
    max-height: 256px;
  }
}
