[data-theme='light'] .box {
  background-color: rgba(255, 255, 255, 0.95);
}

.transitionAll {
  transition: all 0.3s ease;

  aside {
    height: 100%;
    padding: 1.25rem 0;

    nav {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      li a span:not(:first-of-type) {
        margin-left: 1rem;
        line-height: 1.5;
      }
    }
  }

  .box {
    box-shadow: none !important;
  }

  &[class*='is-1'] {
    .box {
      padding: 0;
    }

    li a {
      text-align: center;
      span:not(:first-of-type) {
        display: none;
      }
    }
  }
}

.transform90,
.transform270 {
  transition: 0.25s ease;
}

.transform90 {
  transform: rotate(90deg);
}

.transform270 {
  transform: rotate(270deg);
}
