@import '../../../assets/scss/mixins';
@include themedSvg('login', '.container');

.container {
  background-position-x: 95%;
  background-position-y: 25%;
  background-size: 65%;
  display: flex;

  @include tablet {
    background-size: 75%;
  }

  @include mobile-bg-adjustment();
}

.parent {
  align-items: center;
  width: 100%;
  margin: 0;
}
