.container {
  background-image: url('../../../assets/svg/auth.svg');
  background-repeat: no-repeat;
  flex-direction: row;
  width: 100%;
  background-size: 500px;
  background-position-x: 82%;
  background-position-y: 95%;
}
