.loading-overlay {
  @include overlay;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;

  &.is-active {
    display: flex;
  }

  &.is-full-page {
    z-index: 999;
    position: fixed;

    .loading-icon {
      &:after {
        top: calc(50% - 2.5em);
        left: calc(50% - 2.5em);
        width: 5em;
        height: 5em;
      }
    }
  }

  .loading-background {
    @include overlay;
    cursor: wait;
  }

  .loading-icon {
    position: relative;
    cursor: wait;

    &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 1.5em);
      left: calc(50% - 1.5em);
      width: 3em;
      height: 3em;
      border-width: 0.25em;
    }
  }
}

html {
  &[data-theme='light'] .loading-overlay .loading-background,
  &[data-theme='dark'] .loading-overlay.to-light .loading-background {
    background: rgba(255, 255, 255, 0.5);
  }

  &[data-theme='dark'] .loading-overlay .loading-background,
  &[data-theme='light'] .loading-overlay.to-dark .loading-background {
    background: rgba(0, 0, 0, 0.25);
  }
}
