.navbar-dropdown {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  .dropdown-content {
    box-shadow: none;
    padding-bottom: initial;
    padding-top: initial;
  }
}

.navbar-end .buttons {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
