@import '../../assets/scss/mixins';

.container {
  display: flex;

  > div {
    width: 100%;
    align-self: center;
  }

  code {
    white-space: pre;
    margin-bottom: 1rem;
  }

  @include tablet {
    code {
      display: none;
    }
  }

  @include mobile {
    background-color: transparent;
    overflow-x: hidden;

    code {
      display: none;
    }
  }
}

@include themedSvg('error', '.container');

.content {
  margin-top: 1.5rem;
}

.message {
  border-radius: 5px !important;
}
