@import '../../assets/scss/mixins';

.container {
  background-position-x: 40%;
}

@include themedSvg('error', '.container');

.modal {
  width: 1240px !important;

  code {
    white-space: pre;
    margin-bottom: 1rem;
  }

  @include tablet {
    width: 1024px !important;

    code {
      display: none;
    }
  }

  @include mobile {
    width: 90% !important;
    background-color: transparent;
    overflow-x: hidden;

    code {
      display: none;
    }
  }
}

.body {
  @include mobile {
    background-color: transparent !important;
  }
}

.message {
  border-radius: 5px !important;
}
